extends ../templates/default
include ../components/grid/grid
include ../components/header/header
include ../components/footer/footer
include ../components/form/form
include ../components/box-3/box-3
include ../components/box-teaser/box-teaser

block page
  +container
    //@cursor:snippet:header:end
    //page-content
    +row_space-top
      +col_space
        if( CONFIG.mode == 'PUG' )
          h1  #{HOME.PUG.salutation}
          p 
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis nostrum veniam architecto repudiandae ipsa. Iste hic at culpa id quia animi consequuntur accusantium, in distinctio dolores omnis. Provident, dolore?
          | <br /><br />
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis nostrum veniam architecto repudiandae ipsa. Iste hic at culpa id quia animi consequuntur accusantium, in distinctio dolores omnis. Provident, dolore?
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis nostrum veniam architecto repudiandae ipsa. Iste hic at culpa id quia animi consequuntur accusantium, in distinctio dolores omnis. Provident, dolore?
          | <br /><br />
          h2  Ergo onsectetur adipisicing
          p 
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis nostrum veniam architecto repudiandae ipsa. Iste hic at culpa id quia animi consequuntur accusantium, in distinctio dolores omnis. Provident, dolore?
        if( CONFIG.mode == 'CMS' )
          | #{HOME[CONFIG.mode].textIntro}
    //link-boxes
    +row_space-top
      +box-3( BOX_3[0][CONFIG.mode] )
      +box-3( BOX_3[1][CONFIG.mode] )
      +box-3( BOX_3[2][CONFIG.mode] )
    //Slogan
    +row_space-top
      +col_slogan
        if( CONFIG.mode == 'PUG' )
          h2  Lorem ipsum temporavit
          p 
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis nostrum veniam architecto repudiandae ipsa. Iste hic at culpa id quia animi consequuntur accusantium, in distinctio dolores omnis. Provident, dolore?
          a(href='#') Mehr infos
        if( CONFIG.mode == 'CMS' )
          h2 #{HOME[CONFIG.mode].slogan__headline}
          p
          | #{HOME[CONFIG.mode].slogan__text}
          a(href=HOME[CONFIG.mode].slogan__href) #{HOME[CONFIG.mode].slogan__link}
  //Teaser
  +container-full
    +row_space-top
      +col
        +box-teaser( BOX_TEASER[CONFIG.mode] )
  +container
    //Page-content
    +row_space-top
      +col_space
        h2  Kontakt
        p 
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus blanditiis nostrum veniam architecto repudiandae ipsa. Iste hic at culpa id quia animi consequuntur accusantium, in distinctio dolores omnis. Provident, dolore?
        | <br />
        | <br />
        | Lorem ipsum, dolor sit amet consectetur adipisicing?
        +form 
