include ../grid/grid

mixin header
  div.header
    picture
      source(media='(min-width: 992px)' srcset=HEADER.bgImage.big )
      source(media='(min-width: 576px) and (max-width: 991px)' srcset=HEADER.bgImage.medium )
      source(media='(max-width: 575px)' srcset=HEADER.bgImage.small )
      img.header__bg-image-wrapper
      div.header__slogan-wrapper 
        div.header__headline #{HEADER.headline}
        div.header__sub-headline #{HEADER.subHeadline}
    div
      +container
        +row
          +col
            div.nav
              div.nav__logo
              div#nav-trigger.nav__burger
                div.burger-icon
                  span
                  span
                  span
                  span
                  span
                  span
              ul.nav__ul-desktop
                each val, index in HEADER.nav
                  li
                    a(href='#')=val
  div.nav-mobile-wrapper#nav
    ul.nav__ul-mobile
      each val, index in HEADER.nav
        li
          a.nav__link(href='#')=val
              
  
    block
